/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

html {
  font-size: 62.5%;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, * {
  box-sizing: border-box;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: $sans-serif;;
  color: $main-color;
}
img {
  max-width: 100%;
  height: auto;
}
