//------------------------------------
//   VARIABLES
//------------------------------------

//font-stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

//colors
$main-color: #ddd;
$link-color: #0173A0;

//paths
$image-path:  '../images';



// Breakpoints
$container: 1200px;
$hd: 1920px;
$desktop: 1260px;
$tablet: 700px;
$phablet: 550px;
$mobile: 400px;
$navigation-breakpoint: 40em;
