/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

//font-stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

//paths
$image-path:  '../library/images';

//colors
$main-color: #ddd;
$link-color: #0173A0;

// Breakpoints
$container: 1200px;
$hd: 1920px;
$desktop: 1260px;
$tablet: 700px;
$phablet: 550px;
$mobile: 400px;
$navigation-breakpoint: 40em;

// Spacing
$base-spacing: 55px;
$small-spacing: $base-spacing/2;
$large-spacing: $base-spacing*2;
