// Breakpoint based variables

$xs: 35.5em; //568px;
$sm: 48em; //768px;
$md: 64em; //1024px;
$lg: 80em; //1280px;

$desktop-huge: 1400px;
$desktop-large: $lg;
$desktop: $md; //1024px;
$tablet: $sm; //768px;
$phablet: $xs; //568px;
$mobile: 400px;


$wrapper: 960px;
$wrapper-large: 1200px;
$wrapper-small: 640px;

$medium-breakpoint: 599px;
$large-breakpoint: 959px;
